:import {
  -st-from: "wix-ui-core/src/themes/backoffice/colors.st.css";
  -st-named: B10, B20, B30, D55, WHITE;
}

.root {
  -st-states: selected, disabled, size(enum(tiny, small, medium));
  position: relative;
  margin: 9px 0 0;
  border: 1px solid value(B30);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root :last-child {
  padding-bottom: 0;
}

.root:size(small), .root:size(medium) {
  padding: 18px;
}

.root:size(tiny) {
  padding: 15px;
}

.root:selected {
  border: 2px solid value(B10);
}

.root:selected:disabled {
  border: 2px solid value(D55);
}

.root:disabled {
  border: 1px solid value(D55);
  cursor: default;
}

.selectedIcon {
  position: absolute;
  top: -10px;
  right: -10px;
}

.root:selected::selectedIcon {
  background: value(B10);
  width: 24px;
  height: 24px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: value(WHITE);
}

.root:disabled::selectedIcon {
  background: value(D55);
}

.root:disabled .title, .root:disabled .description {
  color: value(D55);
}

.title {
  padding-bottom: 6px;
}

.description {}

.image {
  padding-bottom: 12px;
}